<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="__ASRC__/css/style.css" rel="stylesheet">
</head>
<body>
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0" class="tableBorder">
  <tr>
    <td>
	<include file="Navigation/navigation" />
	</td>
	</tr>
	<td>
	<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" bgcolor="#FFFFFF"><table width="99%" height="510"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tableBorder_gray">
  <tr>
    <td height="510" valign="top" style="padding:5px;"><table width="98%" height="487"  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="22" valign="top" class="word_orange">当前位置：读者管理 &gt; 读者类型管理 &gt;&gt;&gt;</td>
      </tr>
      <tr>
        <td align="center" valign="top">
		<empty name='types'>
          <table width="100%" height="30"  border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="36" align="center">暂无读者类型信息！</td>
            </tr>
          </table>
		<else />
 <table width="91%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right">      
      <a href="#" onClick="window.open('__CONTROLLER__/typeAdd','','width=292,height=175')">添加读者类型信息</a> </td>
</tr>
</table>  
  <table width="91%"  border="1" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bordercolordark="#D2E3E6" bordercolorlight="#FFFFFF">
  <tr align="center" bgcolor="#e3F4F7">
    <td width="35%">读者类型名称</td>
    <td width="35%">可借数量</td>
    <td width="14%">删除</td>
  </tr>
	<volist name='types' id='valtypes'>
  <tr>
    <td style="padding:5px;" align = 'center'>&nbsp;{$valtypes['name']}</td>
    <td style="padding:5px;" align = 'center'>&nbsp;{$valtypes['number']}</td>
    <td align="center"><a href="__CONTROLLER__/typeDel/id/{$valtypes['id']}">删除</a></td>
  </tr>
	</volist>
	</empty>
	<tr align = 'center'><td colspan = 3>&nbsp;</td></tr>
	<tr align = 'center'><td colspan = 3>{$show}</td></tr>
	</table></td>
      </tr>
    </table>
</td>
  </tr>
</table><include file="Footer/copyright" /></td>
  </tr>
</table>
</td>
  </tr>
</table>
</body>
</html>
